# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.nx
/.nx/cache
/.vscode/*
!/.vscode/extensions.json
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor build directories
android/
ios/
build/

# Capacitor configuration files
capacitor.config.json

# Optional eslint cache
.eslintcache

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Ionic/Capacitor specific
.sourcemaps
xcuserdata/
Pods/
*.map
Podfile.lock
*.iml
.gradle/
.settings/
.project
capacitor-build.log